<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/jquery-1.11.1.min.js"></script>

    <script src="~/js/style.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">dot_2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Table">Table</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - dot_2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script>
        var num = $('#table1 .tablerow').length;
        var limit = 4;
        $("#table1 .tablerow:gt(" + (limit - 1) + ")").hide();
        var totalpages = Math.ceil(num / limit);
        $(".pagination").append("<li class='current_page active'><a href='javascript:void(0)'>" + 1 + "</a></li>");
        for (var i = 2; i <= totalpages; i++) {
            $(".pagination").append("<li class='current_page'><a href='javascript:void(0)'>" + i + "</a></li>")

        }
        $(".pagination").append("<li id='next_page'><a href='javascript:void(0)'><span class='glyphicon glyphicon-chevron-right'></span></a></li>")
        $(".pagination li.current_page").on("click", function () {
            if ($(this).hasClass("active")) {
                return false;
            } else {
                var current = $(this).index();
                $(".pagination li").removeClass("active");
                $(this).addClass("active");
                $("#table1 .tablerow").hide();
                var grandtotal = limit * current;
                for (var i = grandtotal - limit; i < grandtotal; i++) {
                    $("#table1 .tablerow:eq(" + i + ")").show();
                }

                
            }
            
        });
        $("#next_page").on("click", function () {
            var current = $(".pagination li.active").index();
            if (current === totalpages) {
                return false;
            } else {
                current++;
                $(".pagination li").removeClass("active");
                
                $("#table1 .tablerow").hide();
                var grandtotal = current * limit;
                for (var i = grandtotal - limit; i < grandtotal; i++) {
                    $("#table1 .tablerow:eq(" + i + ")").show();
                }
                $(".pagination li.current_page:eq(" + (current - 1) + ")").addClass("active");
                

                }
        });
        $("#previous_page").on("click", function () {
            var current = $(".pagination li.active").index();
            if (current === 1) {
                return false;
            } else {
                current--;
                $(".pagination li").removeClass("active");

                $("#table1 .tablerow").hide();
                var grandtotal = current * limit;
                for (var i = grandtotal - limit; i < grandtotal; i++) {
                    $("#table1 .tablerow:eq(" + i + ")").show();
                }
                $(".pagination li.current_page:eq(" + (current - 1) + ")").addClass("active");


            }
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
