@{
    ViewData["Title"] = "Table";
}
<div class="container">
    
    <a  asp-controller="Home" asp-action="ContractForm"class=" btn btn-outline-info"><img src="~/Contract-01.png" /></a>
    
    <a style="margin-left:500px;" asp-controller="Home" asp-action="BillofMaterial" class="btn btn-outline-dark"><img src="~/BOM-01.png" /></a>

</div>
